/* masonry */
/**** Transitions ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* Small */

@media screen and (max-width: 760) {
    .hgroup-partners {
    display: none !important;
  }
}

@media screen and (min-width: 481px) {
  .page-content .widgets .widgettitle {
    font-size: 16.8px;
    font-size: 1.2rem;
  }

  .page-content .widgets .widget {
    float: left;
    display: block;
    margin-right: 3.06748%;
    width: 31.28834%;
    font-size: 11.2px;
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  .page-content .widgets .widget:last-child {
    margin-right: 0;
  }
  .page-content .widgets .widget:nth-child(3n) {
    margin-right: 0;
  }
  .page-content .widgets .widget:nth-child(3n+1) {
    clear: left;
  }

}

@media screen and (min-width: 769px) {
  .page-content .widgets .widgettitle {
    font-size: 28px;
    font-size: 2rem;
  }
  .page-content .widgets .widget {
    font-size: 14px;
    font-size: 1rem;
  }  

}


/* Tablet and Mobile */

@media only screen and (max-width:768px) {
    body, html { overflow-x: hidden }

    .block-container-wrap {
        padding-top: 30px;
    }

    #menu-mobile {
        display: block;
    }

    .site {
        padding-top: 30px !important;
    }

    pre:before { font-size: 14px }

    #content .block-text blockquote:before {
        left: 0;
        top: 3%;
    }

    .partners {
        display: none;
    }

    .hgroup {
        // padding-top: 8px !important;
    }

    .block {
        width: 45% !important;
    }

    .site-header {
        position: absolute !important;
        top: 0px;
        z-index: 70 !important;  
        padding-top: 2px;  
        height: 95px !important;
        padding-left: 0;
    }
    
    .site-title a .box-logo {
        margin-left: 0 !important;
        font-size: 16px !important;
        padding: 6px 15px !important;
    }

    .site-title-logo {
        margin-top: -5px !important;

        img {
            width: 300px !important;
        }
    }

    .content-section {
        // margin-top: -0px !important;
    }

    .single-tab-nav {
        li {
            width: 64px !important;
        }
    }    

    /* Fonts and Titles */

    h1, h2, h3, h4, h5, h6 { margin-bottom: 6% }

    .entry-header h1 {
        font-size: 40px;
        line-height: 1.2;
    }

    .archive-title h1 {
        font-size: 16px !important;
        border: solid 4px !important;
        padding: 3px 8px !important;
    }

    .single .block-entry-title, .entry-header h1 {
        font-size: 24px !important;
        line-height: 1.3 !important;
        padding: 0 !important;
    }

    .blocks-page .block-titles-wrap, .archive .block-titles-wrap, .search .block-titles-wrap { padding: 7% 5% 3% 5% }

    .block .block-titles { padding: 0 2% 4% 2% }

    .block .block-entry-title {
        font-size: 24px;
        line-height: 1.3;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }

    .single .block-date {
        font-size: 11px;
        margin-bottom: 3%;
        line-height: 1.2;
    }

    #content-wrap p, .block-titles p, .block-text p, .block-text {
        font-size: 13px !important;
        line-height: 1.6 !important;
    }

    #content .block-text blockquote p {
        font-size: 14px;
        line-height: 1.6;
    }

    #content .block-text blockquote p:before { left: -13% }

    .pull-right, .pull-left {
        font-size: 18px;
        width: 100%;
        margin-bottom: 20px;
    }

    /* Layout */

    #main { 
        padding: 3% 3% 5% 3%;
        margin-top: 30px !important;
    }

    #primary, #primary-empty {
        width: 100% !important;
        float: none;
    }

    #secondary {
        float: left;
        width: 100% !important;
        margin-top: 5%;
    }

    .block-container-inside { 
        padding-top: 3%;
        padding-right: 0;
    }


    .single .block-text, .page .block-text { padding: 0 6% }

    .search-results .block-text { padding: 0 }

    .header-wrap { 
        padding: 0 !important ;
        margin-top: -6px !important;
        span.site-description-top, span.site-description {
            font-size: 10px !important;
        }
    }

    // .navigation-wrap { min-height: 44px !important; }

    // .navigation-wrap-inside { min-height: 44px }

    .navigation-wrap { display: none; }

    .archive-box li {
        font-size: 16px;
        padding: 6px 0;
    }

    /* Menu */

    .sticky-wrapper {
        height: auto !important;
        position: relative !important;
    }

    .main-small-navigation .menu { display: none }

    .menu > li:first-child .sub-menu a { padding-left: 0 }

    .menu-toggle { width: 100px }

    /* Header Search */

    .header-search {
        width: 100%;
        float: left;
    }

    .header-search #searchform { float: none }

    .header-search input[type="text"] {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0 10px;
        height: 38px;
    }

    .header-search, .toggle-icons { display: none }

    .header-search input {
        height: 30px;
        width: 100%;
    }

    .header-search #s { width: 79% }

    .header-search #searchsubmit { width: 21% }

    .header-search .icons {
        float: left;
        width: 100%;
    }

    .header-search .icons a {
        font-size: 17px;
        margin: 0 3px;
    }

    .header-search .icon-links a:first-child { margin-left: 0 }

    .error404 #content-wrap #s, .error404 #content-wrap #searchsubmit, 
    .hipy-search-no-results #content-wrap #searchsubmit { height: 35px }

    .error404 #content-wrap #searchform,
    .hipy-search-no-results #content-wrap #searchform { margin-bottom: 5% 4% }

    /* Header Toggles */

    .navigation-wrap .toggle-icons {
        float: left !important;
        width: 100% !important;
        padding-left: 0 !important;
        border-left: none !important;
        border-top: solid 1px #37373c !important;
    }

    .toggle-icons a { padding: 15px 15px 5px 0 }

    .toggle-boxes {
        width: 100%;
        float: left;
        margin-bottom: 15px;
    }

    .toggle-box {
        float: left;
        width: 100%;
        padding: 0;
    }

    .toggle-box:first-child { display: block }

    .toggle-box-filters { padding-top: 0 }

    .toggle-box-social { padding-top: 0 }

    /* Homepage Blocks */

    .infinite-loader {
        bottom: -10px;
        left: 42%;
    }

    .block-container-wrap {
        width: 100%;
        margin-left: 0;
    }

    .block { margin-bottom: 20px }

    .block p {
        font-size: 15px;
        margin-bottom: 5%;
    }

    .block-text { padding: 0 0 }

    .single-attachment .block-text { padding-bottom: 5% }

    .ribbon-wrap {
        right: 0;
        top: 0;
    }

    .intro-text {
        font-size: 16px;
        color: #999;
    }

    /* Sidebar */

    #secondary aside { padding: 8% }

    /* Tab Interface */

    #single-tabs .single-tab-nav li { padding: 1.5% 4% }

    #single-tabs .single-tab-nav li span { display: none }

    .post-tab { padding: 7% }

    .author-profile {
        padding-bottom: 6% !important;
        margin-bottom: 6% !important;
    }

    #author-avatar {
        margin-left: 15px !important;
        display: inline-block !important;
    }

    #author-avatar img {
        width: 60px;
        height: auto;
        float: right;
    }

    #author-description {
        font-size: 14px !important;
    }

    #author-description h2 { 
        width: 50%; 
        font-size: 16px !important;
    }

    #content .author-posts h3 {
        font-size: 16px !important;
    }

    .author-posts li a {
        font-size: 14px !important;
        float: left;
        width: 100%;
    }

    .author-posts li span { float: left }

    .post-navigation { width: 100% }

    .post-detail-col {
        float: left;
        padding-left: 0;
        width: 100%;
        border-top: solid 1px #e6e6e6;
        border-left: none;
        padding-top: 10px;
        margin-top: 10px;
    }

    .post-tab .sd-social, .post-tab .sd-like { padding: 5% 0 }

    /* Comments */

    #comments-title { display: inline-block }

    #comments-title span {
        float: left;
        clear: both;
        width: 100%;
        text-align: left;
    }

    .commentlist li { margin: 0 0 5% 0 }

    .commentlist li:last-child { margin-bottom: 5% }

    .commentlist #respond #reply-title { padding-top: 3% }

    #comments .comment-text p { font-size: 14px }

    #comments .comment-notes, #comments .logged-in-as {
        margin-bottom: 5%;
        padding-bottom: 6%;
    }

    #reply-title {
        font-size: 20px;
    }

    /* Quote Format */

    .block-quote { padding: 10% }

    #block-container .block-quote p {
        font-size: 20px;
    }

    .single .block-quote p {
        font-size: 20px;
    }

    .single .block-quote cite {
        font-size: 12px;
        padding: 2px 5px;
    }

    /* Footer */

    .blocks-nav {
        width: 100%;
        float: left;
        padding: 5% 0 7% 0;
    }

    .blocks-nav a { margin-left: 0 }

    .blocks-nav .blocks-nav-left { float: left }

    .site-footer { margin-bottom: 0 }

    .site-footer .copyright {
        width: 100%;
        text-align: center;
        font-size: 10px;
    }

    #content .block-text .gallery {
        display: block !important;
    }    
}

/* Tablet Portrait */

@media only screen and (min-width:765px) and (max-width:900px) {
    .block-container-wrap {
        width: 98%;
        margin-left: 0;
    }

    .block { width: 45% }

}

/* Mobile Blocks */

@media only screen and (max-width:765px) {
    .block {
        width: 93%;
        margin-left: 0;
    }
    .site-description {
    }    
}


/* Tablet Portrait */

@media only screen and (min-width:1440px) {
    #main { display: block }
    .navigation-wrap-inside {
        margin: 0 !important;
    }
    .site-description {
        top: -57px;
    }
    .header-search {
        right: 20px;
        position: absolute;
    }
    .single .block-text, .page .block-text {
        padding-bottom: 150px !important;
    }

}

@media (max-width: 640px) {

    #main {
        margin-top: 0px !important;
    }

    .hipy-search-no-results .content-section {
        margin-top: 0px !important; // cause problem with txt in no-results
    }   
    .content-section {
        margin-top: -20px;
    }

    nav.main-navigation {
        position: absolute;
    }

    #menu-icon {
        display:inline-block;
     }

    .block-container-wrap {
        width: 98%;
        margin-left: 0;
    }

    .block { width: 93% !important;}
    .site-description-top, .site-description, .hgroup-partners {
        display: none;
    }

    .header-wrap {
        margin-top: 8px 10px 10px 2px !important;
    }

    .site-header {
        height: 56px !important;
        #menu-mobile {
            top: 9px !important;
        }
    }

    .site-title-logo {
        margin-top: 10px !important;
    }
    .error404 #content-wrap #searchsubmit, .search-no-results #content-wrap #searchsubmit,
    .hipy-search-no-results #content-wrap #searchsubmit {
        margin-top: 13px !important;
        width: 100% !important;
        position: relative !important;
    }  

}

/* Extra large creen */

