.main-menu {

	.menu-item {

	}

	.menu-item a {
		color: scale-lightness($color1, 70%);
		white-space: nowrap;
	}

	.menu-item a:hover {
		color: $color2;
	}

	.menu-item {

		.sub-menu a:hover {
			color: $color-positive-action;
		}
		
		a:hover {
			color: $color2;
		}
	}

}